@charset "UTF-8";


body {
    
    background-color: #1a1a40;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
iframe {
    border-radius: 20px 20px;

}

body a {
    text-decoration: none;
    color: white;
}
